apiVersion: v1
data:
  nginx.conf: |+
    server {
        listen 80;

        root /usr/share/nginx/html;

        location / {
            autoindex on;
            autoindex_exact_size off;
            autoindex_localtime on;
            index  autoindex;
        }
    }

kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    io.kompose.service: nginx
  name: nginx-cm1
