apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: nginx
  name: nginx
spec:
  ports:
    - name: "8800"
      port: 8800
      targetPort: 80
  selector:
    io.kompose.service: nginx
