apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: nginx
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.service: nginx
    spec:
      containers:
        - image: nginx:alpine
          name: clamav-nginx
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /usr/share/nginx/html
              name: signatures
            - mountPath: /etc/nginx/conf.d/default.conf
              name: nginx-cm1
              readOnly: true
              subPath: default.conf
      restartPolicy: Always
      volumes:
        - name: signatures
          persistentVolumeClaim:
            claimName: signatures
        - configMap:
            items:
              - key: nginx.conf
                path: default.conf
            name: nginx-cm1
          name: nginx-cm1
