apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: signatures
  name: signatures
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
