apiVersion: v1
kind: Service
metadata:
  name: smtp-service
spec:
  type: LoadBalancer
  selector:
    app: smtp
  ports:
    - name: smtp
      port: 25
      targetPort: 25
      protocol: TCP
    - name: submission
      port: 587
      targetPort: 587
      protocol: TCP
