deployment:
    replicaCount: 1
    securityContext:
        readOnlyRootFilesystem: false
    resources:
        requests:
            cpu: 250m
            memory: 256Mi
        limits:
            cpu: 500m
            memory: 512Mi

configuration:
    server:
        httpOnly: true
        publicURL: "{{.PUBLIC_URL}}"

    database:
        identity:
            type: sqlite
        runtime:
            type: sqlite
        user:
            type: sqlite
