deployment:
    replicaCount: 1
    resources:
        requests:
            cpu: 250m
            memory: 256Mi
        limits:
            cpu: 500m
            memory: 512Mi

configuration:
    server:
        publicURL: http://maneesha.xyz

    database:
        identity:
            type: sqlite
        runtime:
            type: sqlite
        user:
            type: sqlite
